* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
}
.container {
  width: 83%;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 91%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 88%;
  }
}
@media screen and (max-width: 854px) {
  .container {
    width: 84%;
  }
}

.first-page {
  background: linear-gradient(to bottom left, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0 0 12px 12px;
}

.header-homepage {
  background-image: url(../img/Symbol.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
@media screen and (max-width: 620px) {
  .header__container {
    padding-top: 0;
  }
}
@media screen and (max-width: 620px) {
  .header__container {
    width: 100%;
  }
}
@media screen and (max-width: 854px) {
  .header__logo {
    display: none;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 854px) {
  .header__nav {
    align-items: flex-start;
    gap: 30px;
  }
}
@media screen and (max-width: 620px) {
  .header__nav {
    display: none;
  }
}
.header-mobile {
  display: none;
}
@media screen and (max-width: 620px) {
  .header-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.header-mobile__menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgba(245, 245, 250, 0.2);
}
.header-mobile__wrapper {
  display: flex;
  align-items: center;
}
.header-mobile__hamburger {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  position: relative;
}
.header-mobile .hamburger-menu #hamburger-menu__toggle {
  opacity: 0;
}
.header-mobile .hamburger-menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header-mobile .hamburger-menu__btn > span, .header-mobile .hamburger-menu__btn > span::before, .header-mobile .hamburger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: white;
}
.header-mobile .hamburger-menu__btn > span::before {
  content: "";
  top: -8px;
}
.header-mobile .hamburger-menu__btn > span::after {
  content: "";
  top: 8px;
}
.header-mobile .hamburger-menu__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 47%;
  width: 90%;
  height: 100%;
  right: 0;
  margin: 0 auto;
  padding: 64px 12px 12px 12px;
  border-radius: 12px 12px 0 0;
  list-style: none;
  text-align: center;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header-mobile .hamburger-menu__item {
  display: block;
  font-family: "Bold";
  font-size: 1.3rem;
  color: #24a3ff;
  width: 300px;
  height: 43px;
  padding: 7px 0;
  border-radius: 12px;
  text-decoration: none;
  background: #f5f5fa;
}
.header-mobile .hamburger-menu__item_active {
  background: #e6e6f0;
}
.header-mobile .hamburger-menu__item:hover {
  color: #f0145a;
  transition: 0.5s;
  background: #cfd8dc;
}
.header-mobile .hamburger-menu__item:hover {
  background-color: #cfd8dc;
}
.header-mobile .hamburger-menu #hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span {
  transform: rotate(45deg);
}
.header-mobile .hamburger-menu #hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header-mobile .hamburger-menu #hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header-mobile .hamburger-menu #hamburger-menu__toggle:checked ~ .hamburger-menu__box {
  visibility: visible;
  left: 0;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__lng {
  font-family: "Bold";
  font-size: 0.7rem;
  padding: 5px;
  color: #fff;
}
.header__lng:hover {
  background-color: #f0145a;
  border-radius: 5px;
  cursor: grab;
  transition: 0.5s;
}
.header__lng_active {
  background-color: #f0145a;
  border-radius: 5px;
}
.header__img {
  padding: 0 2px;
}
.header__img:last-child {
  padding-left: 4px;
}
.header__adress {
  font-family: "Bold";
  font-size: 0.7rem;
  padding: 5px;
  color: #fff;
  font-family: "Regular";
  font-size: 1rem;
}
.header__number {
  font-family: "Bold";
  font-size: 0.7rem;
  padding: 5px;
  color: #fff;
  font-size: 1rem;
}
.header__logo-mobile {
  display: none;
}
@media screen and (max-width: 854px) {
  .header__logo-mobile {
    display: block;
  }
}
.header__links {
  display: flex;
  gap: 15px;
  padding: 16px 0;
}
.header__link {
  text-decoration: none;
  font-family: "Bold";
  font-size: 1rem;
  color: white;
}
.header__link:hover {
  color: #f0145a;
  cursor: grab;
  transition: 0.5s;
  text-decoration: underline;
}
.header__text {
  font-family: "Bold";
  font-size: 2.3rem;
  color: white;
  padding-bottom: 30px;
  text-align: center;
}
.header__text br {
  display: none;
}
@media screen and (max-width: 390px) {
  .header__text br {
    display: block;
  }
}
.header__scroll {
  padding: 30px;
}
.header__scroll:hover path, .header__scroll:hover g circle {
  stroke: #f0145a;
  transition: 0.5s;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 854px) {
  .experience {
    flex-direction: column;
  }
}
.experience__block {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.experience__block_left {
  color: #b3b3ba;
  white-space: nowrap;
  align-items: flex-end;
  font-family: "Bold";
  font-size: 2.3rem;
  padding-right: 60px;
  margin-top: 74px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 854px) {
  .experience__block_left {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    border-right: none;
  }
}
@media screen and (max-width: 600px) {
  .experience__block_left {
    margin-top: 30px;
  }
}
.experience__text_right {
  font-family: "Regular";
  font-size: 1.1rem;
  color: white;
  line-height: 30px;
}
.experience__text:first-child {
  background: linear-gradient(to right, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience__text:hover {
  color: #f0145a;
  cursor: grab;
  transition: 0.5s;
}
.experience__block_right {
  align-items: flex-start;
  padding-top: 73px;
  padding-left: 60px;
}
@media screen and (max-width: 610px) {
  .experience__block_right {
    padding-top: 30px;
    padding-left: 0;
  }
}
.experience__title {
  font-family: "Bold";
  font-size: 1.8rem;
  color: #fff;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0;
}
@media screen and (max-width: 610px) {
  .services {
    padding: 30px 0;
  }
}
.services__link {
  font-family: "Bold";
  font-size: 0.8rem;
  text-decoration: none;
  color: #24a3ff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-right: 2px;
  transition: 0.5s;
}
.services__link:hover {
  color: #f0145a;
}
.services__link:hover svg path {
  stroke: #f0145a;
  transition: 0.5s;
}
.services__heading {
  font-family: "Bold";
  font-size: 2.3rem;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 10px;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (max-width: 610px) {
  .services__cards {
    padding-bottom: 60px;
    gap: 30px;
  }
}
.services__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1454px) {
  .services__card {
    width: 28%;
  }
}
@media screen and (max-width: 854px) {
  .services__card {
    width: 40%;
  }
}
@media screen and (max-width: 610px) {
  .services__card {
    width: 100%;
  }
}
.services__logo {
  background: white;
  padding: 14px;
  border-radius: 24px;
}
.services__title {
  font-family: "Bold";
  font-size: 1.3rem;
  color: #24a3ff;
  padding: 30px 0 15px;
  text-decoration: none;
}
.services__title:hover {
  color: #f0145a;
  cursor: grab;
  transition: 0.5s;
}
.services__text {
  font-family: "Regular";
  font-size: 1rem;
  color: white;
  line-height: 26px;
}

.hr__line {
  margin: 0 auto;
  height: 10px;
  border: none;
  border-radius: 0 0 12px 12px;
}
.hr__line_fst {
  width: 97%;
  background: #cacadb;
}
.hr__line_snd {
  width: 95%;
  background: #e7e7f2;
}

.team {
  display: flex;
  margin: 60px auto 30px;
  border-radius: 12px;
  background: #f5f5fa;
}
@media screen and (max-width: 854px) {
  .team {
    flex-direction: column;
  }
}
.team__img {
  width: 100%;
  margin: auto 0;
}
@media screen and (max-width: 854px) {
  .team__img {
    margin: 0 auto;
    height: auto;
  }
}
@media screen and (max-width: 714px) {
  .team__img {
    text-align: center;
  }
}
.team__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.team__wrapper-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.team__title {
  font-family: "Bold";
  font-size: 2.3rem;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 30px;
}
@media screen and (max-width: 610px) {
  .team__title {
    font-size: 30px;
  }
}
.team__link {
  font-family: "Bold";
  font-size: 0.8rem;
  text-decoration: none;
  color: #24a3ff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.team__link:hover {
  color: #f0145a;
  cursor: grab;
  transition: 0.5s;
}
.team__link:hover svg path {
  stroke: #f0145a;
  transition: 0.5s;
}
.team__wrapper-bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.team__text {
  color: #b3b3ba;
}
.team__text:first-child {
  font-family: "Bold";
  font-size: 1rem;
}
.team__text:last-child {
  font-family: "Regular";
  font-size: 0.8rem;
  padding-bottom: 30px;
}

.paginator {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 60px;
}

.clients {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .clients {
    width: 100%;
  }
}
.clients__heading {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Bold";
  font-size: 0.8rem;
  color: #323264;
}
.clients__cards {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1920px) {
  .clients__cards {
    padding-bottom: 60px;
  }
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 120px;
}
@media screen and (max-width: 854px) {
  .clients__item {
    width: 33.3%;
  }
}
@media screen and (max-width: 600px) {
  .clients__item {
    width: 100%;
  }
}
.clients__item_item1 {
  background: #1c4280;
  border-radius: 12px 0 0 0;
}
@media screen and (max-width: 600px) {
  .clients__item_item1 {
    border-radius: 12px 12px 0 0;
  }
}
.clients__item_item2 {
  background: #143646;
}
.clients__item_item3 {
  background: #f48b30;
}
@media screen and (max-width: 854px) {
  .clients__item_item3 {
    border-radius: 0 12px 0 0;
  }
}
@media screen and (max-width: 600px) {
  .clients__item_item3 {
    border-radius: 0;
  }
}
.clients__item_item4 {
  background: #9e4dc3;
  border-radius: 0 12px 0 0;
}
@media screen and (max-width: 854px) {
  .clients__item_item4 {
    border-radius: 0;
  }
}
.clients__item_item5 {
  background: #fd9339;
}
.clients__item_item6 {
  background: #e2e2e4;
}
.clients__item_item7 {
  background: #c71c36;
}
.clients__item_item8 {
  background: #dcf3f9;
}
.clients__item_item9 {
  background: #eaeaea;
  border-radius: 0 0 0 12px;
}
@media screen and (max-width: 854px) {
  .clients__item_item9 {
    border-radius: 0;
  }
}
.clients__item_item10 {
  background: #282240;
}
@media screen and (max-width: 854px) {
  .clients__item_item10 {
    border-radius: 0 0 0 12px;
  }
}
@media screen and (max-width: 600px) {
  .clients__item_item10 {
    border-radius: 0;
  }
}
.clients__item_item11 {
  background: #1d4568;
}
.clients__item_item12 {
  background: #000000;
  border-radius: 0 0 12px 0;
}
@media screen and (max-width: 600px) {
  .clients__item_item12 {
    border-radius: 0 0 12px 12px;
  }
}
.clients__img {
  max-width: 100%;
  padding: 5px;
}

.publications {
  background: #f5f5fa;
}
.publications__container {
  display: flex;
  flex-direction: column;
}
.publications__wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
}
.publications__link {
  font-family: "Bold";
  font-size: 0.8rem;
  text-decoration: none;
  color: #24a3ff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.publications__link:hover {
  color: #f0145a;
  cursor: grab;
  transition: 0.5s;
}
.publications__link:hover svg path {
  stroke: #f0145a;
  transition: 0.5s;
}
.publications__title {
  font-family: "Bold";
  font-size: 2.3rem;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 610px) {
  .publications__title {
    font-size: 30px;
  }
}
.publications__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.publications__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 30px;
}
@media screen and (max-width: 854px) {
  .publications__card_1 {
    width: 47%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 610px) {
  .publications__card_1 {
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 854px) {
  .publications__card_2 {
    width: 100%;
  }
}
.publications__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.publications__h3 {
  font-family: "Bold";
  font-size: 1rem;
  color: #24a3ff;
}
.publications__h3 a {
  text-decoration: none;
  color: #24a3ff;
}
.publications__h3 a:hover {
  color: #323264;
}
.publications__h4 {
  font-family: "Bold";
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #b3b3ba;
  text-transform: uppercase;
}
.publications__hr {
  height: 4px;
  background: #e6e6f0;
  border: none;
}
.publications__p {
  font-family: "Regular";
  font-size: 0.8rem;
  line-height: 22px;
}

.footer {
  background: #f5f5fa;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 2px solid #e6e6f0;
}
@media screen and (max-width: 610px) {
  .footer__container {
    justify-content: center;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
@media screen and (max-width: 610px) {
  .footer__contacts {
    display: none;
  }
}
.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
@media screen and (max-width: 610px) {
  .footer__wrapper {
    display: none;
  }
}
.footer__wrapper-top .footer__text {
  font-family: "Regular";
  font-size: 1rem;
  color: #323264;
}
.footer__wrapper-top .footer__link {
  text-decoration: none;
  font-family: "Bold";
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #24a3ff;
  letter-spacing: 1px;
  flex-shrink: 1;
}
.footer__wrapper-bottom .footer__text {
  font-family: "Bold";
  font-size: 1rem;
  color: #46466e;
}
.footer__wrapper-bottom .footer__link {
  text-decoration: none;
  font-family: "Bold";
  font-size: 1rem;
  color: #24a3ff;
}
.footer__copyright {
  font-family: "Regular";
  color: #b3b3ba;
}
@media screen and (max-width: 610px) {
  .footer__copyright {
    display: none;
  }
}
.footer-mobile {
  display: none;
}
@media screen and (max-width: 610px) {
  .footer-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.footer-mobile__text {
  font-family: "Regular";
  font-size: 1rem;
  color: #323264;
}
.footer-mobile__link {
  text-decoration: none;
  font-family: "Bold";
  font-size: 0.7rem;
  color: #24a3ff;
  letter-spacing: 1px;
  flex-shrink: 1;
}
.footer-mobile__link:last-child {
  text-decoration: none;
  font-family: "Bold";
  font-size: 1rem;
  color: #24a3ff;
}
.footer-mobile__number {
  font-family: "Bold";
  font-size: 1rem;
  color: #46466e;
}
.footer-mobile__copyright {
  font-family: "Regular";
  color: #b3b3ba;
  padding-top: 30px;
}

/*# sourceMappingURL=homepage.css.map */
